@model IEnumerable<Category>

<div>
    <div >
        <div>
            <h2>Category List</h2>
        </div>
        <div>
            <a asp-controller="Category" asp-action="Create">&nbsp; Create New Category</a>
        </div>
    </div>
    <table >
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td >
                        <a asp-controller="Category" asp-action="ViewInfo" asp-route-id="@obj.Id">@obj.Name</a>
                    </td>
                    <td >
                        @obj.DisplayOrder
                    </td>
                    <td>
                        <div role="group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"><i></i> Edit</a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"><i></i> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>