@model ProductVM

<div>
    <div>
        <div>
            <h2>Product List</h2>
        </div>
        <div>
            <a asp-controller="Product" asp-action="Upsert"><i></i>&nbsp; Create New Product</a>
        </div>
    </div>


    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            if (Model != null)
            {
                @foreach (var obj in Model.Product)
                {
                    <tr>
                        <td>
                            <a asp-controller="Product" asp-action="ViewInfo" asp-route-id="@obj.Id">@obj.Product.Title</a>
                        </td>
                        <td>@obj.Price</td>
                        <td>
                            @obj.Author
                        </td>
                        <td>@obj.Category.Name</td>
                        <td>
                            <div role="group">
                                <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id"><i></i> Edit</a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id"><i></i> Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

